@model Harpoon.Application.Backend.ViewModels.ChangePasswordForm

@{
    ViewBag.Title = "Пароль";
}

<div class="form-box">

@using (Html.BeginForm())
{
    <fieldset>
        <legend>@ViewBag.Title</legend>

        @Html.ExtValidationSummary()
        @Html.FlashMessage()

        <div class="form-row">
            <div class="editor-label">
                @Html.ExtLabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-row">
            <div class="editor-label">
                @Html.ExtLabelFor(model => model.NewPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>

        <div class="form-row">
            <div class="editor-label">
                @Html.ExtLabelFor(model => model.ConfirmNewPassword, true)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ConfirmNewPassword)
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
            </div>
        </div>

        <div class="submit-button">
            <input type="submit" value="Применить" />
        </div>

    </fieldset>
}

</div>
